.navigation {
    position: absolute;
    left: 156px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 279px;
    width: 143px;
    background-image: url('bookmark.png');
    background-size: 197%;
    background-repeat: no-repeat;
    background-position: center;
}
