.form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.add_button {
    margin-left: auto;
    margin-right: auto;
}
.toast {
    color: rgb(102, 35, 8);
    background-color: rgb(130, 207, 116);
}
