.auth_nav {
    display: flex;
    flex-direction: column;
}

.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 500;
    color: rgb(100, 74, 74);
    font-size: 18px;
}

.activeLink {
    composes: link;
    color: red;
}
